body{
  font-family: 'Anton', sans-serif;
}
.apple-com-english-us-by-html-to-design-free-version-19-05-2026-22-05-47-cest,
.apple-com-english-us-by-html-to-design-free-version-19-05-2026-22-05-47-cest
  * {
  box-sizing: border-box;
}
.apple-com-english-us-by-html-to-design-free-version-19-05-2026-22-05-47-cest {
  background: #ffffff;
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  height: 1004px;
  position: relative;
}
.desktop-1 {
  background: #000000;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 100px;
  top: 100px;
  overflow: hidden;
}
.rectangle-3 {
  background: #000000;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.whats-app-image-2026-05-17-at-17-00-47-1 {
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1440/804;
}
.rectangle-1 {
  background: #010005;
  width: 156px;
  height: 29px;
  position: absolute;
  left: 1254px;
  top: 755px;
}
.rectangle-2 {
  background: #010005;
  width: 156px;
  height: 50px;
  position: absolute;
  left: 27px;
  top: 731px;
}
.group-18 {
  position: absolute;
  inset: 0;
}
.component-3 {
  width: 546.36px;
  height: 154.92px;
  position: absolute;
  left: 212px;
  top: 1350.36px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-26 {
  background: #6603c2;
  border-radius: 77.5px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  filter: blur(37.2px);
}
.rectangle-25 {
  background: linear-gradient(
    90deg,
    rgba(54, 3, 106, 1) 0%,
    rgba(106, 6, 208, 1) 100%
  );
  border-radius: 77.5px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-8 {
  width: 154.92px;
  height: 546.36px;
  position: static;
}
.vector {
  border-radius: 0px;
  width: 154.92px;
  height: 546.36px;
  position: absolute;
  left: 212px;
  top: 804px;
  overflow: visible;
}
.group-1 {
  width: 56.76px;
  height: 108.8px;
  position: static;
}
.profile {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 261.67px;
  top: 951.82px;
  width: 108.8px;
  height: 56.76px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.profile2 {
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(1, 1, 1, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 261.67px;
  top: 951.82px;
  width: 108.8px;
  height: 56.76px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.group-19 {
  position: absolute;
  inset: 0;
}
.group-17 {
  width: 154.92px;
  height: 546.36px;
  position: static;
}
.component-2 {
  width: 546.36px;
  height: 154.92px;
  position: absolute;
  left: 482px;
  top: 1350.36px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-5 {
  border-radius: 62px;
  width: 154.92px;
  height: 507.33px;
  position: absolute;
  left: 482px;
  top: 843.03px;
  object-fit: cover;
}
.rectangle-6 {
  border-radius: 62px;
  width: 154.92px;
  height: 507.33px;
  position: absolute;
  left: 482px;
  top: 814.64px;
  object-fit: cover;
}
.group-4 {
  width: 35.48px;
  height: 269.63px;
  position: static;
}
.brand-identity-logo-design {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 542.31px;
  top: 1097.28px;
  width: 269.63px;
  height: 35.48px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.brand-identity-logo-design2 {
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(1, 1, 1, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 542.31px;
  top: 1097.28px;
  width: 269.63px;
  height: 35.48px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.calque-1 {
  opacity: 0.74;
  width: 89.88px;
  height: 36.66px;
  position: absolute;
  left: 515.11px;
  top: 1285.32px;
  overflow: visible;
}
.calque-12 {
  opacity: 0.74;
  width: 37.84px;
  height: 61.5px;
  position: absolute;
  left: 491.46px;
  top: 1209.63px;
  overflow: visible;
}
.group-16 {
  position: absolute;
  inset: 0;
}
.group-15 {
  width: 154.92px;
  height: 546.36px;
  position: static;
}
.group-10 {
  width: 154.92px;
  height: 546.36px;
  position: static;
}
.component-32 {
  width: 546.36px;
  height: 154.92px;
  position: absolute;
  left: 752px;
  top: 1350.36px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-7 {
  border-radius: 62px;
  width: 154.92px;
  height: 507.33px;
  position: absolute;
  left: 752px;
  top: 843.03px;
  object-fit: cover;
}
.group-6 {
  width: 154.92px;
  height: 507.33px;
  position: static;
}
.rectangle-8 {
  border-radius: 62px;
  width: 154.92px;
  height: 507.33px;
  position: absolute;
  left: 752px;
  top: 827.65px;
  object-fit: cover;
}
.group-5 {
  width: 56.76px;
  height: 154.92px;
  position: static;
}
.packaging {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 801.67px;
  top: 997.95px;
  width: 154.92px;
  height: 56.76px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.packaging2 {
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(1, 1, 1, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 801.67px;
  top: 997.95px;
  width: 154.92px;
  height: 56.76px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.group-162 {
  width: 154.92px;
  height: 507.33px;
  position: static;
}
.group-152 {
  width: 154.92px;
  height: 507.33px;
  position: static;
}
.group-102 {
  width: 154.92px;
  height: 507.33px;
  position: static;
}
.group-7 {
  width: 154.92px;
  height: 507.33px;
  position: static;
}
.rectangle-82 {
  border-radius: 62px;
  width: 154.92px;
  height: 507.33px;
  position: absolute;
  left: 752px;
  top: 820.56px;
  object-fit: cover;
}
.group-14 {
  position: absolute;
  inset: 0;
}
.component-33 {
  width: 546.36px;
  height: 154.92px;
  position: absolute;
  left: 1022px;
  top: 1350.36px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.group-11 {
  width: 35.48px;
  height: 156.1px;
  position: static;
}
.ui-ux-experience {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1081.13px;
  top: 987.3px;
  width: 156.1px;
  height: 35.48px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.ui-ux-exp {
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(1, 1, 1, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1081.13px;
  top: 987.3px;
  width: 87.51px;
  height: 35.48px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.group-13 {
  opacity: 0.77;
  width: 154.92px;
  height: 534.53px;
  position: static;
}
.group-112 {
  width: 154.92px;
  height: 474.77px;
  position: static;
}
.group-72 {
  width: 154.92px;
  height: 474.77px;
  position: static;
}
.group-62 {
  width: 154.92px;
  height: 474.77px;
  position: static;
}
.rectangle-83 {
  border-radius: 62px;
  width: 154.92px;
  height: 474.77px;
  position: absolute;
  left: 1022px;
  top: 870.86px;
  object-fit: cover;
}
.group-12 {
  width: 154.92px;
  height: 474.77px;
  position: static;
}
.rectangle-84 {
  border-radius: 62px;
  width: 154.92px;
  height: 474.77px;
  position: absolute;
  left: 1022px;
  top: 811.1px;
  object-fit: cover;
}
.contenu {
  color: #5e00b3;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 96px;
  font-weight: 400;
  opacity: 0;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: -145px;
}
.component-1 {
  width: 193px;
  height: 59px;
  position: absolute;
  left: 1440px;
  top: 198px;
}
.rectangle-262 {
  background: #8004e7;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  filter: blur(10.4px);
}
.rectangle-252 {
  background: #6500b5;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.mes-autres-projets {
  color: #ffffff;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 8.81%;
  left: 8.29%;
  width: 82.9%;
  bottom: 23.73%;
  top: 25.42%;
  height: 50.85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-2 {
  background: #000000;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 1640px;
  top: 100px;
  overflow: hidden;
}
.rectangle-32 {
  background: #000000;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 0px;
  top: -804px;
}
.whats-app-image-2026-05-17-at-17-00-47-12 {
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 0px;
  top: -804px;
  object-fit: cover;
  aspect-ratio: 1440/804;
}
.rectangle-12 {
  background: #010005;
  width: 156px;
  height: 29px;
  position: absolute;
  left: 1254px;
  top: -49px;
}
.rectangle-22 {
  background: #010005;
  width: 156px;
  height: 50px;
  position: absolute;
  left: 27px;
  top: -73px;
}
.component-34 {
  width: 546.36px;
  height: 154.92px;
  position: absolute;
  left: 113px;
  top: 714.36px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.vector2 {
  border-radius: 0px;
  width: 154.92px;
  height: 546.36px;
  position: absolute;
  left: 113px;
  top: 168px;
  overflow: visible;
}
.profile3 {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 162.67px;
  top: 315.82px;
  width: 108.8px;
  height: 56.76px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.profile4 {
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 162.67px;
  top: 315.82px;
  width: 108.8px;
  height: 56.76px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.component-22 {
  width: 546.36px;
  height: 154.92px;
  position: absolute;
  left: 383px;
  top: 714.36px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-52 {
  border-radius: 62px;
  width: 154.92px;
  height: 507.33px;
  position: absolute;
  left: 383px;
  top: 207.03px;
  object-fit: cover;
}
.rectangle-62 {
  border-radius: 62px;
  width: 154.92px;
  height: 507.33px;
  position: absolute;
  left: 383px;
  top: 178.64px;
  object-fit: cover;
}
.brand-identity-logo-design3 {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 443.31px;
  top: 441.28px;
  width: 269.63px;
  height: 35.48px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.calque-13 {
  opacity: 0.74;
  width: 89.88px;
  height: 36.66px;
  position: absolute;
  left: 416.11px;
  top: 649.32px;
  overflow: visible;
}
.calque-14 {
  opacity: 0.74;
  width: 37.84px;
  height: 61.5px;
  position: absolute;
  left: 392.46px;
  top: 573.63px;
  overflow: visible;
}
.component-35 {
  width: 546.36px;
  height: 154.92px;
  position: absolute;
  left: 653px;
  top: 714.36px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-72 {
  border-radius: 62px;
  width: 154.92px;
  height: 507.33px;
  position: absolute;
  left: 653px;
  top: 207.03px;
  object-fit: cover;
}
.rectangle-85 {
  border-radius: 62px;
  width: 154.92px;
  height: 507.33px;
  position: absolute;
  left: 653px;
  top: 191.65px;
  object-fit: cover;
}
.packaging3 {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 702.67px;
  top: 358.95px;
  width: 154.92px;
  height: 56.76px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-86 {
  border-radius: 62px;
  width: 154.92px;
  height: 507.33px;
  position: absolute;
  left: 653px;
  top: 184.56px;
  object-fit: cover;
}
.component-36 {
  width: 546.36px;
  height: 154.92px;
  position: absolute;
  left: 923px;
  top: 714.36px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.ui-ux-experience2 {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 982.13px;
  top: 351.3px;
  width: 156.1px;
  height: 35.48px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.ui-ux-exp2 {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 982.13px;
  top: 351.3px;
  width: 87.51px;
  height: 35.48px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-87 {
  border-radius: 62px;
  width: 154.92px;
  height: 474.77px;
  position: absolute;
  left: 923px;
  top: 234.86px;
  object-fit: cover;
}
.rectangle-88 {
  border-radius: 62px;
  width: 154.92px;
  height: 474.77px;
  position: absolute;
  left: 923px;
  top: 175.1px;
  object-fit: cover;
}
.contenu2 {
  color: #5e00b3;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
}
.component-12 {
  width: 193px;
  height: 59px;
  position: absolute;
  left: 1217px;
  top: 394px;
}
.mes-autres-projets2 {
  color: #ffffff;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 95.12%;
  left: 1.06%;
  width: 3.82%;
  bottom: 92.79%;
  top: 3.48%;
  height: 3.73%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-3 {
  background: #000000;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 3180px;
  top: 100px;
  overflow: hidden;
}
.chat-gpt-image-17-mai-2026-20-05-12-1 {
  width: 1440px;
  height: 821px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1440/821;
}
.calque-15 {
  width: 715px;
  height: 288px;
  position: absolute;
  left: 544px;
  top: 440px;
  overflow: visible;
}
.calque-16 {
  width: 723px;
  height: 641px;
  position: absolute;
  left: 539px;
  top: 91px;
  overflow: hidden;
}
.vector3 {
  width: 100%;
  height: 55.23%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 44.77%;
  top: 0%;
  overflow: visible;
}
.vector4 {
  width: 100%;
  height: 55.23%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 44.77%;
  top: 0%;
  overflow: visible;
}
.line-1 {
  background: #880c0c;
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.72);
  border-width: 1px 0 0 0;
  width: 205px;
  height: 0px;
  position: absolute;
  left: 32px;
  top: 88px;
}
.line-2 {
  background: #880c0c;
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.19);
  border-width: 1px 0 0 0;
  width: 490px;
  height: 0px;
  position: absolute;
  left: 105px;
  top: 354px;
}
.line-3 {
  background: #880c0c;
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.19);
  border-width: 1px 0 0 0;
  width: 214px;
  height: 0px;
  position: absolute;
  left: 366px;
  top: 387px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.tudiant-en-dessin-graphique-et-communication-visuelle-art-com-sup-rabat-passionn-par-le-design-graphique-la-cr-ation-visuelle-et-les-outils-num-riques-motiv-pour-d-velopper-mes-comp-tences-dans-les-domaines-du-branding-ul-design-et-cr-ation-digitale {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 237px;
  top: 105px;
  width: 342px;
  height: 216px;
}
.ellipse-1 {
  background: #880c0c;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 204px;
  top: 109px;
}
.ellipse-2 {
  background: #880c0c;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 204px;
  top: 178px;
}
.ellipse-3 {
  background: #880c0c;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 204px;
  top: 247px;
}
.outils-maitrises {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 53px;
  top: 369px;
  width: 233px;
  height: 54px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 393px;
  top: 369px;
  width: 119px;
  height: 54px;
}
.a-propos-dr-moi {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 27px;
  top: 34px;
  width: 233px;
  height: 54px;
}
.group {
  width: 5.55%;
  height: 6.11%;
  position: absolute;
  right: 89.47%;
  left: 4.98%;
  bottom: 19.94%;
  top: 73.95%;
  overflow: visible;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 101px;
  top: 474px;
  overflow: visible;
}
.clip-path-group2 {
  height: auto;
  position: absolute;
  left: 166px;
  top: 475px;
  overflow: visible;
}
.clip-path-group3 {
  height: auto;
  position: absolute;
  left: 229px;
  top: 476px;
  overflow: visible;
}
.clip-path-group4 {
  height: auto;
  position: absolute;
  left: 299px;
  top: 476px;
  overflow: visible;
}
.image-1 {
  width: 205px;
  height: 156px;
  position: absolute;
  left: 454px;
  top: 440px;
  object-fit: cover;
  aspect-ratio: 205/156;
}
.vector5 {
  width: 28px;
  height: 142px;
  position: absolute;
  left: 462px;
  top: 448px;
  overflow: visible;
}
.component-13 {
  width: 86px;
  height: 41px;
  position: absolute;
  left: 1293px;
  top: 40px;
}
.rectangle-263 {
  background: #f1021d;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  filter: blur(10.4px);
}
.rectangle-253 {
  background: #360507;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.mes-autres-projets3 {
  color: #ffffff;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 18.32%;
  left: 17.73%;
  width: 63.95%;
  bottom: 13.39%;
  top: 13.44%;
  height: 73.17%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-4 {
  background: #000000;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 4720px;
  top: 100px;
  overflow-y: auto;
}
.chat-gpt-image-17-mai-2026-19-04-43-1-1 {
  width: 1206px;
  height: 804px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 182px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.brand-identity-logo-design4 {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 603px);
  top: 49px;
}
.line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 727px;
  height: 0px;
  position: absolute;
  left: 119px;
  top: 149px;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 727px;
  height: 0px;
  position: absolute;
  left: 358px;
  top: 1005px;
}
.component-14 {
  width: 86px;
  height: 41px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2823px;
}
.rectangle-264 {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  filter: blur(10.4px);
}
.rectangle-254 {
  background: #000000;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.whats-app-image-2026-05-17-at-21-25-37-1 {
  width: 1205px;
  height: 803px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1024px;
  object-fit: cover;
  aspect-ratio: 1205/803;
}
.chat-gpt-image-17-mai-2026-21-34-11-1 {
  width: 1206px;
  height: 804px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1964px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 727px;
  height: 0px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1876px;
}
.desktop-5 {
  background: #000000;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 6260px;
  top: 100px;
  overflow-y: auto;
}
.packaging4 {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 644px);
  top: 49px;
}
.chat-gpt-image-17-mai-2026-21-51-47-1 {
  width: 1351px;
  height: 900px;
  position: absolute;
  left: 45px;
  top: 164px;
  object-fit: cover;
  aspect-ratio: 1351/900;
}
.chat-gpt-image-17-mai-2026-21-55-36-1 {
  width: 1351px;
  height: 901px;
  position: absolute;
  left: 45px;
  top: 1191px;
  object-fit: cover;
  aspect-ratio: 1351/901;
}
.line-7 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 789px;
  height: 0px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1105px;
}
.line-8 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 789px;
  height: 0px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3063px;
}
.image-2 {
  width: 1327px;
  height: 884px;
  position: absolute;
  left: 58px;
  top: 2092px;
  object-fit: cover;
  aspect-ratio: 1327/884;
}
.component-15 {
  width: 86px;
  height: 41px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3122px;
}
.line-42 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 304px;
  height: 0px;
  position: absolute;
  left: 55px;
  top: 145px;
}
.line-9 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 804px;
  height: 0px;
  position: absolute;
  left: 7800px;
  top: 100px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.desktop-6 {
  background: #000000;
  width: 1440px;
  height: 800px;
  position: absolute;
  left: 7900px;
  top: 100px;
  overflow-y: auto;
}
.ui-ux-experience3 {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 586px);
  top: 49px;
}
.line-43 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 452px;
  height: 0px;
  position: absolute;
  left: calc(50% - 586px);
  top: 145px;
}
.component-16 {
  width: 86px;
  height: 41px;
  position: absolute;
  left: 1293px;
  top: 83px;
}
.component-23 {
  width: 150px;
  height: 41px;
  position: absolute;
  left: 1261px;
  top: 710px;
}
.mes-autres-projets4 {
  color: #ffffff;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 7.42%;
  left: 7.92%;
  width: 84.67%;
  bottom: 13.39%;
  top: 13.44%;
  height: 73.17%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-21 {
  position: absolute;
  inset: 0;
}
.component-37 {
  width: 382px;
  height: 557px;
  position: absolute;
  left: 247px;
  top: calc(50% - 196px);
}
.rectangle-265 {
  background: #ffffff;
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  filter: blur(10.4px);
}
.rectangle-255 {
  background: #000000;
  border-radius: 0px 0px 32px 32px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.rectangle {
  width: 380.04px;
  height: 368.59px;
  position: absolute;
  left: 248px;
  top: calc(50% - 195px);
  overflow: visible;
  object-fit: cover;
}
.duo-store-minimal-fashion-experience {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 451px);
  top: 574px;
  width: 198px;
  height: 72px;
}
.projet-personnel-cr-enti-rement-par-moi-m-me-pour-imaginer-une-boutique-de-v-tements-moderne-avec-un-design-minimaliste-et-professionnel-inspir-des-interfaces-figma {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 451px);
  top: 638px;
  width: 343px;
  height: 72px;
}
.line-62 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 127px;
  height: 0px;
  position: absolute;
  left: calc(50% - 450px);
  top: 629px;
}
.group-20 {
  position: absolute;
  inset: 0;
}
.component-4 {
  width: 362px;
  height: 557px;
  position: absolute;
  left: 829px;
  top: calc(50% - 196px);
}
.adam-refreshing-soda-energy-in-every-sip {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -132px);
  top: 574px;
  width: 198px;
  height: 72px;
}
.creer-une-page-d-accueil-ngageaunte-et-moderne-qui-reflete-l-identite-dynamique-de-la-marque-adam-et-met-en-avant-ses-boissons-rafraichissantes-et-energetique {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -132px);
  top: 631px;
  width: 324px;
  height: 105px;
}
.line-52 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 196px;
  height: 0px;
  position: absolute;
  left: calc(50% - -132px);
  top: 626px;
}
.rectangle2 {
  width: 363px;
  height: 363px;
  position: absolute;
  left: 830px;
  top: 204px;
  overflow: visible;
  object-fit: cover;
}
.desktop-7 {
  background: #ffffff;
  width: 1440px;
  height: 792px;
  position: absolute;
  left: 9440px;
  top: 100px;
  overflow-y: auto;
}
.whats-app-image-2026-05-19-at-18-41-45-1 {
  width: 1156px;
  height: 462px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: -93px;
  object-fit: cover;
  aspect-ratio: 1156/462;
}
.arrow-1 {
  width: 42px;
  height: 0px;
  position: absolute;
  left: calc(50% - 0px);
  top: 239px;
  transform: translate(-7.36px, -43px);
  overflow: visible;
}
.header-navigation-cette-section-repr-sente-la-partie-sup-rieure-du-site-web-elle-contient-le-logo-de-la-marque-le-menu-de-navigation-principal-ainsi-qu-un-bouton-d-action-buy-now-le-design-adopte-un-style-minimaliste-et-moderne-avec-une-palette-de-couleurs-violette-et-blanche-afin-de-transmettre-une-image-dynamique-nergique-et-facile-naviguer {
  color: #000000;
  text-align: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 239px;
  width: 696px;
  height: 161px;
}
.header-navigation-cette-section-repr-sente-la-partie-sup-rieure-du-site-web-elle-contient-le-logo-de-la-marque-le-menu-de-navigation-principal-ainsi-qu-un-bouton-d-action-buy-now-le-design-adopte-un-style-minimaliste-et-moderne-avec-une-palette-de-couleurs-violette-et-blanche-afin-de-transmettre-une-image-dynamique-nergique-et-facile-naviguer-span {
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.header-navigation-cette-section-repr-sente-la-partie-sup-rieure-du-site-web-elle-contient-le-logo-de-la-marque-le-menu-de-navigation-principal-ainsi-qu-un-bouton-d-action-buy-now-le-design-adopte-un-style-minimaliste-et-moderne-avec-une-palette-de-couleurs-violette-et-blanche-afin-de-transmettre-une-image-dynamique-nergique-et-facile-naviguer-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.header-navigation-cette-section-repr-sente-la-partie-sup-rieure-du-site-web-elle-contient-le-logo-de-la-marque-le-menu-de-navigation-principal-ainsi-qu-un-bouton-d-action-buy-now-le-design-adopte-un-style-minimaliste-et-moderne-avec-une-palette-de-couleurs-violette-et-blanche-afin-de-transmettre-une-image-dynamique-nergique-et-facile-naviguer-span3 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.hero-section-cette-section-est-la-partie-principale-et-la-plus-visible-de-la-page-d-accueil-elle-met-en-avant-le-produit-adam-avec-un-visuel-dynamique-un-slogan-impactant-et-un-bouton-d-action-buy-now-le-design-utilise-des-couleurs-vibrantes-des-effets-liquides-et-une-composition-moderne-pour-attirer-l-attention-et-transmettre-une-sensation-d-nergie-de-fra-cheur-et-de-puissance {
  color: #000000;
  text-align: center;
  position: absolute;
  left: calc(50% - 675px);
  top: 678px;
  width: 459px;
  height: 259px;
}
.hero-section-cette-section-est-la-partie-principale-et-la-plus-visible-de-la-page-d-accueil-elle-met-en-avant-le-produit-adam-avec-un-visuel-dynamique-un-slogan-impactant-et-un-bouton-d-action-buy-now-le-design-utilise-des-couleurs-vibrantes-des-effets-liquides-et-une-composition-moderne-pour-attirer-l-attention-et-transmettre-une-sensation-d-nergie-de-fra-cheur-et-de-puissance-span {
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.hero-section-cette-section-est-la-partie-principale-et-la-plus-visible-de-la-page-d-accueil-elle-met-en-avant-le-produit-adam-avec-un-visuel-dynamique-un-slogan-impactant-et-un-bouton-d-action-buy-now-le-design-utilise-des-couleurs-vibrantes-des-effets-liquides-et-une-composition-moderne-pour-attirer-l-attention-et-transmettre-une-sensation-d-nergie-de-fra-cheur-et-de-puissance-span2 {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.whats-app-image-2026-05-19-at-18-46-23-1 {
  width: 686px;
  height: 376px;
  position: absolute;
  left: 669px;
  top: 619px;
  object-fit: cover;
  aspect-ratio: 686/376;
}
.arrow-2 {
  width: 63px;
  height: 0px;
  position: absolute;
  left: 555px;
  top: 807px;
  overflow: visible;
}
.whats-app-image-2026-05-19-at-18-58-59-1 {
  width: 1534px;
  height: 731px;
  position: absolute;
  left: calc(50% - 768px);
  top: 2104px;
  object-fit: cover;
  aspect-ratio: 1534/731;
}
.rectangle-11 {
  background: #fbfbf9;
  width: 1482px;
  height: 268px;
  position: absolute;
  left: -37px;
  top: 1959px;
}
.whats-app-image-2026-05-19-at-18-53-45-1 {
  width: 1525px;
  height: 847px;
  position: absolute;
  left: -48px;
  top: 1292px;
  object-fit: cover;
  aspect-ratio: 1525/847;
}
.rectangle-9 {
  background: #f9fafe;
  border-radius: 30px 30px 0px 0px;
  width: 1440px;
  height: 186px;
  position: absolute;
  left: 0px;
  top: 1169px;
}
.rectangle-10 {
  background: #f9fafe;
  border-radius: 30px 30px 0px 0px;
  width: 172px;
  height: 90px;
  position: absolute;
  left: 29px;
  top: 1330px;
}
.our-story-section {
  color: #000000;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1238px;
}
.rectangle-122 {
  background: #fbfbf9;
  width: 60px;
  height: 81px;
  position: absolute;
  left: 21px;
  top: 2186px;
}
.explore-our-flavors {
  color: #000000;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2101px;
}
.footer-section {
  color: #000000;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2860px;
}
.whats-app-image-2026-05-19-at-19-06-01-1 {
  width: 1460px;
  height: 789px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3084px;
  object-fit: cover;
  aspect-ratio: 1460/789;
}
.rectangle-13 {
  background: #fefefe;
  width: 268px;
  height: 100px;
  position: absolute;
  left: -21px;
  top: 3074px;
}
.cette-section-repr-sente-le-bas-du-site-web-elle-regroupe-les-informations-importantes-comme-les-liens-de-navigation-les-r-seaux-sociaux-les-contacts-et-l-abonnement-la-newsletter-le-design-utilise-un-d-grad-violet-et-bleu-pour-garder-l-identit-visuelle-moderne-de-la-marque-tout-en-offrant-une-navigation-claire-et-professionnelle {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2923px;
  width: 696px;
  height: 161px;
}
.arrow-3 {
  width: 64px;
  height: 0px;
  position: absolute;
  left: calc(50% - 0px);
  top: 3074px;
  overflow: visible;
}
.whats-app-image-2026-05-19-at-19-12-39-2 {
  width: 1536px;
  height: 654px;
  position: absolute;
  left: -47px;
  top: 4252px;
  object-fit: cover;
  aspect-ratio: 1536/654;
}
.rectangle-15 {
  background: #fafbff;
  width: 1440px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 4117px;
}
.rectangle-16 {
  background: #fafbff;
  width: 370px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 4208px;
}
.whats-app-image-2026-05-19-at-19-12-39-1 {
  width: 1569px;
  height: 267px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3888px;
  object-fit: cover;
  aspect-ratio: 1569/267;
}
.rectangle-14 {
  background: #fefefe;
  width: 1483px;
  height: 107px;
  position: absolute;
  left: -10px;
  top: 3803px;
}
.legend-key {
  color: #000000;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3835px;
}
.page-flow {
  color: #000000;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4170px;
}
.component-17 {
  width: 86px;
  height: 41px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4973px;
}
.rectangle-266 {
  background: #000000;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  filter: blur(10.4px);
}
.rectangle-256 {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.mes-autres-projets5 {
  color: #000000;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 18.32%;
  left: 17.73%;
  width: 63.95%;
  bottom: 13.39%;
  top: 13.44%;
  height: 73.17%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-8 {
  background: #ffffff;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 10980px;
  top: 100px;
  overflow-y: auto;
}
.whats-app-image-2026-05-19-at-19-33-27-1 {
  width: 1441px;
  height: 720px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1441/720;
}
.whats-app-image-2026-05-19-at-19-35-06-1 {
  width: 1440px;
  height: 960px;
  position: absolute;
  left: 0px;
  top: 740px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.whats-app-image-2026-05-19-at-19-35-45-1 {
  width: 1440px;
  height: 960px;
  position: absolute;
  left: 0px;
  top: 1700px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.whats-app-image-2026-05-19-at-19-36-55-1 {
  width: 1446px;
  height: 964px;
  position: absolute;
  left: 0px;
  top: 2663px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.whats-app-image-2026-05-19-at-19-38-29-1 {
  width: 1442px;
  height: 961px;
  position: absolute;
  left: 0px;
  top: 3627px;
  object-fit: cover;
  aspect-ratio: 1442/961;
}
.whats-app-image-2026-05-19-at-19-41-26-1 {
  width: 1440px;
  height: 960px;
  position: absolute;
  left: 0px;
  top: 4588px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.component-18 {
  width: 86px;
  height: 41px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 5581px;
}
.desktop-9 {
  background: #000000;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 12520px;
  top: 100px;
  overflow-y: auto;
}
.group-22 {
  position: absolute;
  inset: 0;
}
.component-42 {
  width: 1228px;
  height: 564px;
  position: absolute;
  left: 64px;
  top: calc(50% - 277px);
}
.rectangle-267 {
  background: #ffffff;
  border-radius: 0px 50px 50px 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  filter: blur(19.35px);
}
.rectangle-257 {
  background: #000000;
  border-radius: 0px 50px 50px 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.aqua-flow-brand-identity-design {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 0px);
  top: 236px;
  width: 465px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.projet-de-fin-du-premier-semestre-r-alis-l-cole-art-com-sup-cr-ation-d-une-identit-visuelle-compl-te-pour-la-marque-aqua-flow-inspir-e-de-l-univers-du-surf-et-de-l-oc-an-incluant-le-logo-la-palette-graphique-et-plusieurs-supports-de-branding {
  color: #ffffff;
  text-align: left;
  font-family: "Anton-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 1px);
  top: 374px;
  width: 513px;
  height: 341px;
}
.line-53 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 285px;
  height: 0px;
  position: absolute;
  left: calc(50% - 0px);
  top: 337px;
}
.rectangle3 {
  width: 588px;
  height: 564px;
  position: absolute;
  left: 64px;
  top: 125px;
  overflow: visible;
  object-fit: cover;
}
.component-19 {
  width: 86px;
  height: 41px;
  position: absolute;
  left: 1316px;
  top: 55px;
}
.desktop-10 {
  background: #000000;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 14060px;
  top: 100px;
  overflow-y: auto;
}
.whats-app-image-2026-05-19-at-20-17-48-1 {
  width: 1443px;
  height: 962px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.whats-app-image-2026-05-19-at-20-18-50-1 {
  width: 1433px;
  height: 955px;
  position: absolute;
  left: 0px;
  top: 962px;
  object-fit: cover;
  aspect-ratio: 1433/955;
}
.whats-app-image-2026-05-19-at-20-20-09-1 {
  width: 1440px;
  height: 960px;
  position: absolute;
  left: 0px;
  top: 1917px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.whats-app-image-2026-05-19-at-20-22-47-1 {
  width: 1437px;
  height: 958px;
  position: absolute;
  left: 0px;
  top: 2717px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.whats-app-image-2026-05-19-at-20-24-03-1 {
  width: 1442px;
  height: 961px;
  position: absolute;
  left: 0px;
  top: 3675px;
  object-fit: cover;
  aspect-ratio: 1442/961;
}
.component-110 {
  width: 86px;
  height: 41px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4714px;
}
.rectangle-268 {
  background: #2d7ecd;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  filter: blur(10.4px);
}
.rectangle-258 {
  background: #01081a;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.desktop-11 {
  background: #010a1b;
  width: 1440px;
  height: 804px;
  position: absolute;
  left: 15600px;
  top: 100px;
  overflow-y: auto;
}
.whats-app-image-2026-05-19-at-20-36-52-1 {
  width: 1439px;
  height: 959px;
  position: absolute;
  left: 1px;
  top: 44px;
  object-fit: cover;
  aspect-ratio: 1439/959;
}
.rectangle-17 {
  width: 908px;
  height: 110px;
  position: absolute;
  left: 30px;
  top: 66px;
  overflow: visible;
}
.comprehension-du-wprkflow {
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comprehension-du-wprkflow-span {
  color: #ffffff;
}
.comprehension-du-wprkflow-span2 {
  color: #4c98f6;
}
.line-10 {
  margin-top: -6px;
  border-style: solid;
  border-color: #4c98f6;
  border-width: 6px 0 0 0;
  width: 558px;
  height: 0px;
  position: absolute;
  left: 444px;
  top: 102px;
}
.whats-app-image-2026-05-19-at-20-43-57-1 {
  width: 1440px;
  height: 960px;
  position: absolute;
  left: 0px;
  top: 983px;
  object-fit: cover;
  aspect-ratio: 3/2;
}
.rectangle-18 {
  width: 908px;
  height: 125px;
  position: absolute;
  left: 23px;
  top: 999px;
  overflow: visible;
}
.apercu-du-wprkflow {
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1003px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apercu-du-wprkflow-span {
  color: #ffffff;
}
.apercu-du-wprkflow-span2 {
  color: #4c98f6;
}
.line-11 {
  margin-top: -6px;
  border-style: solid;
  border-color: #4c98f6;
  border-width: 6px 0 0 0;
  width: 416px;
  height: 0px;
  position: absolute;
  left: 515px;
  top: 1075px;
}
.component-111 {
  width: 86px;
  height: 41px;
  position: absolute;
  left: 637px;
  top: 1970px;
}
.rectangle-269 {
  background: #2c67d6;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  filter: blur(10.4px);
}
.rectangle-259 {
  background: #000815;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.mes-autres-projets6 {
  color: #2c67d6;
  text-align: center;
  font-family: "Anton-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 18.32%;
  left: 17.73%;
  width: 63.95%;
  bottom: 13.39%;
  top: 13.44%;
  height: 73.17%;
  display: flex;
  align-items: center;
  justify-content: center;
}
